- @card.comments.each do |comment|
  = comment.body
  %hr

= simple_form_for([@board, @list, @card, Comment.new], remote: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :body

  .form-actions
    = f.button :submit
