%h4
  = "#{@board.try(:name)}の共有設定"
  = link_to 'back', board_path(@board)



.col-md-8
  .panel.panel-default
    .panel-heading
      Board共有者一覧
    %table.table.table-bordered
      %thead
        %tr
          %th
          %th ユーザ
          %th 参加日
          %th

      %tbody
        - @users_boards.each do |users_board|
          %tr
            %td{width: '30px'}
              = image_tag gravatar_image_url(users_board.user.try(:email), size: 28), class: 'img-rounded'
            %td
              = users_board.user.try(:name)
            %td
              = users_board.created_at.to_s(:date)
            %td
              = link_to '解除', [@board, users_board], method: :delete, data: {confirm: '削除するとBoardにアクセスできなくなりますがよろしいですか？'}, class: 'btn btn-xs btn-danger'

  %br
.col-md-4
  = render 'form'