%p#notice= notice

%p
  %b Description:
  = @card.description
%p
  %b List:
  = @card.list
%p
  %b User:
  = @card.user
%p
  %b Order:
  = @card.order

= link_to 'Edit', edit_card_path(@card)
\|
= link_to 'Back', cards_path
